@charset "UTF-8";

/* common */

:root {
    --c-font: #2C2C2C;
    --c-red_main: #C85C5C;
    --c-green: #B2EA70;
    --c-blue: #9FD8DF;
    --c-yellow: #FBD148;
    --c-red_accent: #FF7171;
    --c-base: #fff;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* layout */

.wrap{
    width: 1080px;
    margin: 0 auto;
}

h1{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #C85C5C;
}
.blog-text{
    padding-top: 20px;
    line-height: 2;
}
