@charset "UTF-8";


/* !----- パソコンベースでCSSを書いていく -----! */

/**
 * ----------------------------------------------------------------------
 * CSSを書く時に気を付けること
 * ----------------------------------------------------------------------
 */

/**
 * ↓ スマホ版＆タブレット版ブレイクポイントの基本 ↓
 * @media screen and (max-width: 1080px)
 * ----------------------------------------------------------------------
 * ↓ ところによりブレイクポイントを変える必要がある場合 ↓
 * @media screen and (max-width: 768px)
 */

/**
 * clampの計算
 * clamp(最小値, 変化点（~vw）, 最大値)
 * 変化点(vw) = (最大値 / ブレイクポイント) * 100
 * clampの計算で使うブレイクポイントは全て768で計算すること
 */

/**
 * clamp関数を使ったところにはSafariで機能させるためにmin-height: 0vw;を入れること
 */

/**
 * transitionの値は全て0.25s ease-in-out
 */

/**
 * ----------------------------------------------------------------------
 * フォント(使いたいものがあったらコピペしてね)
 * ----------------------------------------------------------------------
 */

/**
 * フォント：Monarcha（英語用）
 * font-family: monarcha, serif;
 * font-weight: 400;
 * font-style: normal;
 */

/**
 * フォント：A-OTF UD 黎ミン Pr6N（本文）
 * font-family: a-otf-ud-reimin-pr6n, sans-serif;
 * font-weight: 300;
 * font-style: normal;
 */

/**
 * フォント：Adorn Garland（筆記体の英語用）
 * font-family: adorn-garland, sans-serif;
 * font-weight: 400;
 * font-style: normal;
 */


/**
 * ----------------------------------------------------------------------
 * 共通部分のCSS
 * ----------------------------------------------------------------------
 */

/* common */

:root {

    --c-font: #2C2C2C;
    --c-red_main: #C85C5C;
    --c-green: #B2EA70;
    --c-blue: #9FD8DF;
    --c-yellow: #FBD148;
    --c-red_accent: #FF7171;
    --c-base: #fff;

    --fsz-primary: 2em;
    --fsz-secondary: 1.3em;
    --fsz-common: clamp(16px, 2.34375vw, 18px);

    --ff-title: monarcha, serif;
    --ff-text: a-otf-ud-reimin-pr6n, sans-serif;
    --ff-cursive: adorn-garland, sans-serif;

    --btn-h: max(2.5em, 44px);

    --transition: .25s ease-in-out;
}

body {
    min-height: 0vw;
    color: var(--c-font);
    font-family: var(--ff-text);
    font-weight: 300;
    font-size: var(--fsz-common);
    font-style: normal;
}

a {
    color: var(--c-red_accent);
}


img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

.btn {
    height: var(--btn-h);
}

.btn a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--c-base);
    background-color: var(--c-red_accent);
    border-radius: 1.5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    text-decoration: none;
    transition: var(--transition);
}

.btn a:hover {
    background-color: var(--c-red_main);
    box-shadow: none;
}

.span-block {
    display: block;
}


/* layout */

.content-w {
    width: min(1080px, 100%);
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {

    .content-w {
        padding: 0 20px;
    }

}


/**
 * ----------------------------------------------------------------------
 * バックグラウンドの画像
 * ----------------------------------------------------------------------
 */

/* bg -- background-image */

.bg {
    background-size: cover;
    background-position: center center;
}

.bg__index {
    background-attachment: fixed;
    background-image: url(../images/index-bg_01.jpg);
}

.bg__blog-top {
    background-attachment: fixed;
    background-image: url(../images/blog_top-bg.jpg);
}


/**
 * ----------------------------------------------------------------------
 * ヘッダーコンテンツここから
 */

/* header */

.header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(#fff 0%, #fff0 100%);
    background-size: 100% 100%;
    transition: .775s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header > .content-w {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header--title {
    width: clamp(125px, 13.8888vw, 150px);
    min-height: 0vw;
}

.header--title a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: var(--transition);
}

.header--title a:hover {
    filter: brightness(1.3);
}


/* hamburger-menu */

.hamburger-menu {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(44, 44, 44, .7);
    border-radius: 10px;
    transition: var(--transition);
    position: relative;
}

.hamburger-menu:active {
    transform: scale(.95);
}

.hamburger-menu--graph {
    width: 40px;
    display: block;
    background-size: contain;
    background-position: center center;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
}

.hamburger-menu--graph:nth-child(1) {
    height: 7px;
    background-image: url(../images/menu_scissors_static.svg);
    transform-origin: 50% 50%;
    transition: var(--transition);
    top: 7.5px;
    z-index: 7;
}

.hamburger-menu--graph:nth-child(2) {
    width: 34px;
    height: 9px;
    background-image: url(../images/menu_scissors_dynamic.svg);
    transform: translateX(-40%);
    transform-origin: 50% 50%;
    transition: var(--transition);
    top: calc(3px + 7.5px);
    left: 40%;
    z-index: 6;
}

.hamburger-menu--graph:nth-child(3) {
    height: 10px;
    background-image: url(../images/menu_hairbrush.svg);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    transition: var(--transition);
    top: 25px;
    z-index: 5;
}

.hamburger-menu--text {
    margin-bottom: 7.5px;
    color: var(--c-base);
    font-family: var(--ff-title);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

@media screen and (min-width: 1081px) {

    .hamburger-menu  {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border-width: 0
    }

}

/*
    jsで使うクラス --- ハンバーガーメニューの開閉
*/

.header.ham-is-active {
    background-size: 100% 1000% !important;
}

.gnav.ham-is-active {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
}

.hamburger-menu.ham-is-active .hamburger-menu--graph:nth-child(1) {
    transform: translate(-53%, 10px) rotate(-135deg) !important;
}

.hamburger-menu.ham-is-active .hamburger-menu--graph:nth-child(2) {
    transform: translate(-24%, 8.5px) rotate(-45deg) !important;
}

.hamburger-menu.ham-is-active .hamburger-menu--graph:nth-child(3) {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%) !important;
}


/* gnav */

.gnav {
    height: 100%;
    display: grid;
    place-items: center;
}

.gnav > .gnav__container {
    height: 100%;
    min-height: 0vw;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: clamp(16px, 2.3148148148vw, 25px);
    position: relative;
}

@media screen and (max-width: 1080px) {

    .gnav {
        width: 100%;
        height: auto;
        display: block;
        background-color: var(--c-base);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .4s ease-in-out;
        position: absolute;
        top: 80px;
        left: 0;
    }

    .gnav > .gnav__container {
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }

}

.gnav__container--item {
    font-family: var(--ff-title);
}

.gnav__container--item:not(:last-child) {
    padding-left: 15px;
    position: relative;
}

.gnav__container--item:not(:last-child) a::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(5px, -50%);
    transition: var(--transition);
    position: absolute;
    top: 50%;
    left: -5px;
    overflow: hidden;
    opacity: 0;
}

.gnav__container--item:nth-child(1) a::before {
    background-color: var(--c-blue);
}

.gnav__container--item:nth-child(2) a::before {
    background-color: var(--c-green);
}

.gnav__container--item:nth-child(3) a::before {
    background-color: var(--c-yellow);
}

.gnav__container--item:nth-child(4) a::before {
    background-color: var(--c-red_main);
}

.gnav__container--item:not(:last-child):hover a::before {
    opacity: 1;
}
._current-page a::before {
    opacity: 1 !important;
}

@media screen and (max-width: 1080px) {

    .gnav__container--item {
        width: 100%;
        padding: 0;
        border-top: 1px solid var(--c-font);
    }

    .gnav__container--item:not(:last-child) {
        padding: 0;
    }

    .gnav__container--item a {
        width: 100%;
        height: var(--btn-h);
        display: flex;
        align-items: center;
        transition: var(--transition);
    }

    .gnav__container--item a:hover {
        background-color: var(--c-red_accent);
    }

    .gnav__container--item:not(:last-child) a {
        padding-left: calc(20px + 1em + 5px);
        position: relative;
    }

    .gnav__container--item:not(:last-child) a::before {
        width: 1em;
        height: 1em;
        margin-left: 20px;
        display: inline-block;
        background-color: transparent;
        border-radius: revert;
        transform: translateY(-50%);
        transition: var(--transition);
        position: absolute;
        top: 50%;
        overflow: revert;
        opacity: 1;
    }

    .gnav__container--item:nth-child(1) a::before {
        color: var(--c-blue);
        content: "\f0c4";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .gnav__container--item:nth-child(2) a::before {
        color: var(--c-green);
        content: "\f073";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .gnav__container--item:nth-child(3) a::before {
        color: var(--c-yellow);
        content: "\f781";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .gnav__container--item:nth-child(4) a::before {
        color: var(--c-red_main);
        content: "\f1d8";
        font-family: "Font Awesome 6 Free";
        font-weight: 400;
    }

}

.gnav__container--item:last-child {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.gnav__container--item:last-child a {
    display: flex;
    align-items: center;
}

.gnav__container--item:last-child a .fa-circle-user {
    display: block;
    margin-right: 4px;
    transition: var(--transition);
}

.gnav__container--item:last-child a:hover .fa-circle-user {
    color: var(--c-green);
}

@media screen and (max-width: 1080px) {

    .gnav__container--item:last-child  {
        border-bottom: 1px solid var(--c-font);
        font-size: 1em;
        position: revert;
    }

    .gnav__container--item:last-child a {
        padding-left: calc(20px + 1em + 5px);
        position: relative;
    }

    .gnav__container--item:last-child a .fa-circle-user {
        margin-right: 0;
        margin-left: 17px;
        color: var(--c-green);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
    }

}

.gnav__container--item a {
    text-decoration: none;
    color: var(--c-font);
}

/**
 * ヘッダーコンテンツここまで
 * ----------------------------------------------------------------------
 */


/**
 * ----------------------------------------------------------------------
 * メインコンテンツここから
 */

.main {
    min-height: 0vw;
    margin-top: calc(80px + clamp(35px, 9.114583333vw, 70px));
}

.main--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--c-base);
    font-size: 1em;
}

.main--title span:first-child {
    min-height: 0vw;
    padding-bottom: clamp(9.5px, 1.953125vw, 15px);
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--c-base);
    font-size: var(--fsz-primary);
    line-height: 1;
}

.main--title span:first-child > i {
    display: block;
    margin-right: 15px;
}

.main--title span:last-child {
    margin-top: 10px;
    display: block;
    font-size: var(--fsz-secondary);
    line-height: 1;
}

.main--title_blog span:first-child {
    border-color: var(--c-yellow);
}

.main--title_blog span:first-child > i {
    color: var(--c-yellow);
}






.main__content {
    min-height: 0vw;
    margin-top: clamp(50px, 13.02083333vw, 100px);
}


/* index */

.index__container {
    width: 100%;
    height: 100vh;
}

.index__container--catchcopy {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.catchcopy--text {
    min-height: 0vw;
    font-size: clamp(50px, vw, 100px);
}

.home__contents{
    width: 100%;
    height: 100vh;
    background-color: var(--c-red_main);
    line-height: 2;
}
.home__textcontents{

}
.home__textcontents p{
    color: #fff;
    text-align: center;
}
.home__textcontents-title{
    font-size: 80px;
}
.home__textcontents-text{
    font-size: 18px;
}


/* blog's top page */

.main__content--blog {
    padding: 100px 0;
    background-color: var(--c-base);
}

.main__content--blog__latest {
    min-height: 0vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 72px;
}

@media screen and (max-width: 1080px){

    .main__content--blog__latest {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

}

.main__content--blog__latest--img {
    width: 100%;
}

.main__content--blog__latest--img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
}

@supports not (aspect-ratio: 3 / 2) {

    .main__content--blog__latest--img {
        position: relative;
    }

    .main__content--blog__latest--img::before {
        content: "";
        display: block;
        padding-top: calc(2 / 3 * 100%);
    }

    .main__content--blog__latest--img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.main__content--blog__latest--content-title {
    font-size: var(--fsz-secondary);
    font-weight: normal;
    line-height: 2;
}

.main__content--blog__latest--content-info {
    min-height: 0vw;
    margin-top: clamp(25px, 4.5572916666vw, 35px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1080px){

    .main__content--blog__latest--content-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

}

.main__content--blog__latest--content-info .main__content--blog__category--tag li {
    height: 1.5em;
    display: revert;
    padding: 0;
    background-color: transparent;
    border-radius: revert;
}

.main__content--blog__latest--content-info .main__content--blog__category--tag li a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 1em;
    color: var(--c-base);
    background-color: var(--c-blue);
    border-radius: 1.5em;
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
}

.main__content--blog__latest--content-info .main__content--blog__category--tag li a:hover {
    background-color: var(--c-yellow);
}

.main__content--blog__latest--content-btn {
    width: 9em;
    margin-top: clamp(20px, 7.8125vw, 60px);
    margin-left: auto;
}

@media screen and (max-width: 1080px){

    .main__content--blog__latest--content-btn {
        width: 100%;
        margin-right: auto;
    }

}

.main__content--blog__container {
    min-height: 0vw;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: clamp(30px, 7.8125vw, 60px) 40px;
}

@media screen and (max-width: 900px){

    .main__content--blog__container {
        grid-template-columns: 1fr;
    }

}

.main__content--blog__container a {
    height: auto;
    display: block;
    color: var(--c-font);
    text-decoration: none;
    transition: var(--transition);
    position: relative;
}

.main__content--blog__container a:hover {
    box-shadow: 0 0 6px var(--c-font);
}

.main__content--blog__container a:hover img {
    filter: brightness(1.1);
}

.main__content--blog__container a::before {
    content: "";
    display: block;
    padding-top: calc(12 / 13 * 100%);
}

.main__content--blog__card {
    width: 100%;
    height: 100%;
    border: 1px solid var(--c-font);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main__content--blog__card--img {
    width: 100%;
}

.main__content--blog__card--img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    transition: var(--transition);
}

@supports not (aspect-ratio: 2 / 1) {

    .main__content--blog__card--img {
        width: 100%;
        position: relative;
    }

    .main__content--blog__card--img::before {
        content: "";
        display: block;
        padding-top: calc(1 / 2 * 100%);
    }

    .main__content--blog__card--img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.main__content--blog__card figcaption {
    height: calc(1 / 2 * (100% - 8%));
}

.main__content--blog__card--content {
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

@media screen and (max-width: 1080px){

    .main__content--blog__card--content {
        padding: 10px;
    }

}

.main__content--blog__card--content-title {
    font-size: var(--fsz-secondary);
}

.main__content--blog__published {
    margin-top: auto;
}

.main__content--blog__published,
.main__content--blog__category {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.main__content--blog__category {
    min-height: 0vw;
    color: var(--c-blue);
}

.main__content--blog__category--tag {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main__content--blog__category--tag li {
    height: 1.5em;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 1em;
    color: var(--c-base);
    background-color: var(--c-blue);
    border-radius: 1.5em;
}

.main__content--blog__card--content .main__content--blog__category {
    justify-content: flex-end;
}




/* menu */

.menu__container{
}
.menu__container--list{
    width: 600px;
    margin: 0 auto ;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(2,3fr);
    justify-items: center;
}
.menu__container--list a{
    height: 100%;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-red_accent);
    border-radius: 1.5em;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
    color: var(--c-base);
    text-decoration: none;
}
.menu__container--list a:hover{
    background-color: var(--c-red_main);
    box-shadow: none;
}
.menubtn{
    width: 280px;
    height: 60px;
}
.menubtn-a{
    width: 100%;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu__contents-wrap{
    width: 1080px;
    /*height: 680vh;*/
    margin:200px auto 0;
    background-color: #ececec;/* 一時的に区別をつけるため色を変えています */
    padding: 70px;
}

.menu__contents{
    border-left: solid 5px var(--c-blue);
}
.menu__contents2{
    border-left: solid 5px var(--c-blue);
    margin-top: 100px;
}

.menu__h2{
    padding-left: 10px;
    height: 72px;
    line-height: 72px;
}
.menu__h2 h2{
    font-size: 36px;
}

.menu__list{
    margin-top: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--c-font);
    display: flex;
    gap: 40px;
}

.menu__main{
    width: 50%;
}

.menu__main h2{
    font-size: 36px;
    font-family: var(--ff-title);
    border-bottom: solid 1px var(--c-font);
    padding-bottom: 5px;
}
.menu__main p{
    line-height: 2;
}
.menu__main h3{
    font-size: 23.4px;
    margin-top: 30px;
    line-height: 2;
}
.menu__text{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1080px){

    .menu__container--list{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu__container--list li{
        width: 350px;
        margin: auto;
        height: 44px;
        border-radius: 1.5em;
    }
    .menu__container--list li a{
        font-size: 16px;
    }

    .menu__list{
        flex-direction: column;
    }
    .menu__contents-wrap {
        padding: 10px;
        width: 100%
    }
    .menu__main{
        width: 100%;
    }
    .menu__contents-wrap{
        margin-top: 120px;
        padding-top: 16.5px;
        padding-bottom: 20px;
    }
    h2{
        font-size: 32px;
    }
}





/* blog */

.blog__contents{
    width: 100%;
    height: 100vh;
    background-color: var(--c-base);
}

.blog__published,
.blog__category {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.blog__category {
    min-height: 0vw;
    margin-top: clamp(5px, 1.302083333vw, 10px);
    color: var(--c-blue);
}

.blog__category--tag {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog__category--tag li {
    height: 1.5em;
}

.blog__category--tag li a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 1em;
    color: var(--c-base);
    background-color: var(--c-blue);
    border-radius: 1.5em;
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
}

.blog__category--tag li a:hover {
    background-color: var(--c-yellow);
}

.blog__image {
    min-height: 0vw;
    margin-top: clamp(20px, 3.2552083333vw, 25px);
    aspect-ratio: 16 / 9;
}

.blog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@supports not (aspect-ratio: 16 / 9) {

    .blog__image {
        position: relative;
    }

    .blog__image::before {
        content: "";
        display: block;
        padding-top: calc(9 / 16 * 100%);
    }

    .blog__image img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.blog__container {
    min-height: 0vw;
    margin-top: clamp(15px, 5.2083333vw, 40px);
}

.blog__container--title {
    min-height: 0vw;
    padding-bottom: clamp(5px, 1.302083333vw, 10px);
    border-bottom: 2px solid var(--c-red_main);
    font-size: var(--fsz-secondary);
    line-height: 1.5;
}

.blog__container--text {
    line-height: 2;
}

.blog__container--text.br-mt {
    margin-top: 2em;
}

.blog__container--text:nth-child(2) {
    min-height: 0vw;
    margin-top: clamp(10px, 2.60416666vw, 20px);
}

.blog__container--text mark {
    background-color: transparent;
    background: linear-gradient(rgba(251, 209, 72, 0) 0%, rgba(251, 209, 72, 0.2) 43.35%, var(--c-yellow) 100%);
}

.blog__pager {
    min-height: 0vw;
    margin-top: clamp(50px, 13.02083333vw, 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(15px, 3.90625vw, 30px);
}

.blog__pager--previousBtn,
.blog__pager--nextBtn {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 1px;
    transition: var(--transition);
}

.blog__pager--previousBtn {
    border-right: 30px solid var(--c-red_accent);
}

.blog__pager--nextBtn {
    border-left: 30px solid var(--c-red_accent);
}

.blog__pager--previousBtn:hover,
.blog__pager--nextBtn:hover {
    transform: scale(0.95);
}

.__blog-arrowBtn_none {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.blog__pager--link {
    min-height: 0vw;
    display: flex;
    gap: clamp(7px, 2.60416666vw, 20px);
}

.blog__pager--link_item a {
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    color: var(--c-font);
    text-decoration: none;
    background-color: var(--c-green);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    font-size: 37.5px;
    line-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.blog__pager--link_item a:hover {
    color: var(--c-yellow);
    box-shadow: none;
}

.__blog-current {
    color: var(--c-yellow) !important;
    box-shadow: none !important;
}








/* contact */
.contact{
    margin-top: 60px;
}
.contact--text{
    padding: 40px;
    line-height: 2;
    border-top: 2px solid var(--c-yellow);
    border-bottom: 2px solid var(--c-yellow);
}
.contact__row--item{
    display: flex;
    height: 58px;
}
.contact__row--item > dt{
    width: 350px;
    background-color: var(--c-blue);
    padding-left: 30px;
    line-height: 58px;
    border-left: 1px solid var(--c-font);
    border-bottom: 1px solid var(--c-font);
}
.contact--fast > dt{
    border-top: 1px solid var(--c-font);
}
.contact__row--item > dd{
    width: 730px;
    padding-left: 60px;
    line-height: 58px;
    border-right: 1px solid var(--c-font);
    border-bottom: 1px solid var(--c-font);
}
.contact__row--item > dd input{
    width: 150px;
    height: 45px;
    border: solid 1px var(--c-font);
    border-radius: 27px;
    margin-right: 20px;
    text-align: center;
}
.contact--fast > dd{
    border-top: 1px solid var(--c-font);
}
.red{
    color: var(--c-red_accent);
}
.contact__row:last-child .contact__row--item{
    height: 298px;
}
.contact__row:last-child .contact__row--item > dt{
    background-color: var(--c-blue);
    padding-left: 30px;
    line-height: 298px;
    border-left: 1px solid var(--c-font);
    border-bottom: 1px solid var(--c-font);
}
.contact__row:last-child .contact__row--item > dd{
    width: 730px;
    padding-left: 60px;
    line-height: 298px;
    border-right: 1px solid var(--c-font);
    border-bottom: 1px solid var(--c-font);
}
.contact--btn{
    width: 131px;
    font-size: 18px;
    margin: 30px auto 0;
}
/*contact-sp*/
@media screen and (max-width: 1080px){
    .contact__row--item{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .contact__row--item > dt{
        width: 100%;
        background-color: var(--c-blue);
        text-align: center;
    }
    .contact__row--item > dd{
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .contact__row:last-child .contact__row--item > dt{
        width: 100%;
        background-color: var(--c-blue);
    }
    .contact__row:last-child .contact__row--item > dd{
        width: 100%;
        height: auto;
    }
}

/* complete */
.complete--text{
    padding: 40px;
    line-height: 2;
    border-top: 2px solid var(--c-green);
    border-bottom: 2px solid var(--c-green);
    margin-top: 100px;
}

/* reserve */
.reserve--text{
    text-align: center;
}

/* account */
.account__container{
    margin-top: 35px;
}
.complete--text {
    text-align: center;
}
.complete--text .short input{
    width: 150px;
    height: 45px;
    margin-top: 20px;
    border: 1px solid var(--c-font);
    border-radius: 27px;
    text-align: center;
}
.complete--text .long input{
    width: 506px;
    height: 45px;
    margin-top: 20px;
    border: 1px solid var(--c-font);
    border-radius: 27px;
    text-align: center;
}
.account--btn{
    width: 252px;
    margin: 60px auto 0;
}
/* account-sp */

/* confirm */
 .confirm{
    padding: 40px;
    line-height: 2;
    border-top: 2px solid var(--c-green);
    border-bottom: 2px solid var(--c-green);
    margin-top: 100px;
 }
.confirm p{
    text-align: center;
}






































































/**
 * ----------------------------------------------------------------------
 * フッターコンテンツここから
 */

/* footer */

.footer {
    min-height: 0vw;
    margin-top: clamp(75px, 19.53125vw, 150px);
    padding: clamp(30px, 7.8125vw, 60px) 0;
    background-color: var(--c-red_main);
    color: var(--c-base);
}

.footer__flex-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {

    .footer__flex-container {
        flex-direction: column;
    }

}

.footer__flex-container > .footer__container {
    width: 45%;
}

@media screen and (max-width: 1080px) {

    .footer__flex-container > .footer__container {
        width: 100%;
        margin-bottom: 30px;
    }

}

.footer__container--title {
    min-height: 0vw;
    margin-bottom: clamp(10px, 2.6041666666vw, 20px);
    padding-bottom: clamp(5px, 1.302083333vw, 10px);
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid var(--c-base);
    font-family: var(--ff-title);
    font-size: var(--fsz-primary);
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.footer__container--map iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
}

.footer__container--map-caption {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap:1em;
    line-height: 1;
}

.footer__container--map-caption address {
    font-style: normal;
}

@supports not (aspect-ratio: 3 / 2) {

    .footer__container--map {
        width: 100%;
        margin-bottom: calc(3em * 2);
        position: relative;
    }

    .footer__container--map::before {
        content: "";
        display: block;
        padding-top: calc(2 / 3 * 100%);
    }

    .footer__container--map iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .footer__container--map-caption {
        margin-top: 10px;
        position: absolute;
    }

}

.footer__grid-box {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: clamp(30px, 5.859375vw, 45px) 20px;
}

@media screen and (max-width: 1080px) {

    .footer__grid-box {
        width: 100%;
    }

}

.footer__container--list {
    padding-left: 1em;
    line-height: 1;
    list-style: revert;
}

.footer__container--list li {
    width: 100%;
}

.footer__container--list li:not(:first-child) {
    margin-top: 15px;
}

.footer__container--list li a {
    width: 100%;
    display: block;
    color: var(--c-base);
    text-decoration: none;
}

@media screen and (max-width: 1080px) {

    .footer__container--list li a {
        width: auto;
        display: inline;
    }

}

.footer__container--list li a:hover {
    text-decoration: underline;
}

.footer__grid-box .footer__container:nth-child(3) li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 1080px) {

    .footer__grid-box .footer__container:nth-child(3) li a {
        width: 100%;
        display: block;
    }

}

.footer__flex-container:last-child {
    min-height: 0vw;
    margin-top: clamp(40px, 9.375vw, 72px);
    align-items: center;
}

@media screen and (max-width: 1080px) {

    .footer__flex-container:last-child {
        flex-direction: column-reverse;
        gap: 40px;
    }

}

.footer--title {
    width: clamp(125px, 16.666666vw, 180px);
    min-height: 0vw;
}

@media screen and (max-width: 1080px) {

    .footer--title {
        margin: 0 auto;
    }

}

.footer--title a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: var(--transition);
}

.footer--title a:hover {
    opacity: .75;
}

.copyright {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1;
}

.copyright small {
    font-size: 100%;
}

.footer--btn a {
    padding: 0 3.5835em;
    transition: var(--transition);
}

.footer--btn a:hover {
    background-color: var(--c-base);
    color: var(--c-red_accent);
}

@media screen and (max-width: 1080px) {

    .footer--btn a {
        padding: 0 1em;
    }

    .footer--btn a:active {
        transform: scale(.95);
    }

}

/**
 * フッターコンテンツここまで
 * ----------------------------------------------------------------------
 */
