@charset "UTF-8";


/* !----- パソコンベースでCSSを書いていく -----! */

/**
 * ----------------------------------------------------------------------
 * CSSを書く時に気を付けること
 * ----------------------------------------------------------------------
 */

/**
 * ↓ スマホ版＆タブレット版ブレイクポイントの基本 ↓
 * @media screen and (max-width: 1080px)
 * ----------------------------------------------------------------------
 * ↓ ところによりブレイクポイントを変える必要がある場合 ↓
 * @media screen and (max-width: 768px)
 */

/**
 * clampの計算
 * clamp(最小値, 変化点（~vw）, 最大値)
 * 変化点(vw) = (最大値 / ブレイクポイント) * 100
 * clampの計算で使うブレイクポイントは全て768で計算すること
 */

/**
 * clamp関数を使ったところにはSafariで機能させるためにmin-height: 0vw;を入れること
 */

/**
 * transitionの値は全て0.25s ease-in-out
 */

/**
 * ----------------------------------------------------------------------
 * フォント(使いたいものがあったらコピペしてね)
 * ----------------------------------------------------------------------
 */

/**
 * フォント：Monarcha（英語用）
 * font-family: monarcha, serif;
 * font-weight: 400;
 * font-style: normal;
 */

/**
 * フォント：A-OTF UD 黎ミン Pr6N（本文）
 * font-family: a-otf-ud-reimin-pr6n, sans-serif;
 * font-weight: 300;
 * font-style: normal;
 */

/**
 * フォント：Adorn Garland（筆記体の英語用）
 * font-family: adorn-garland, sans-serif;
 * font-weight: 400;
 * font-style: normal;
 */


/**
 * ----------------------------------------------------------------------
 * 共通部分のCSS
 * ----------------------------------------------------------------------
 */

/* common */

:root {

    --c-font: #2C2C2C;
    --c-red_main: #C85C5C;
    --c-green: #B2EA70;
    --c-blue: #9FD8DF;
    --c-yellow: #FBD148;
    --c-red_accent: #FF7171;
    --c-base: #fff;

    --fsz-primary: 2em;
    --fsz-secondary: 1.3em;
    --fsz-common: clamp(16px, 2.34375vw, 18px);

    --ff-title: monarcha, serif;
    --ff-text: a-otf-ud-reimin-pr6n, sans-serif;
    --ff-cursive: adorn-garland, sans-serif;

    --btn-h: max(2.5em, 44px);

    --transition: .25s ease-in-out;
}

body {
    min-height: 0vw;
    color: var(--c-font);
    font-family: var(--ff-text);
    font-weight: 300;
    font-size: var(--fsz-common);
    font-style: normal;
}

a {
    color: var(--c-red_accent);
}


img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

.d-fx {
    display: flex;
}

.fx-jc-start {
    justify-content: flex-start;
}

.fx-jc-center {
    justify-content: center;
}

.fx-jc-end {
    justify-content: flex-end;
}

.fxd-rr {
    flex-direction: row-reverse;
}

.btn__outer {
    width: 100%;
    display: flex;
    align-items: center;
}

.btn {
    height: var(--btn-h);
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--c-base);
    cursor: pointer;
    background-color: var(--c-red_accent);
    border-radius: calc(var(--btn-h) / 2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    text-decoration: none;
    transition: var(--transition);
}

@media screen and (min-width: 901px) {

    .btn:hover {
        background-color: var(--c-red_main);
        box-shadow: none;
    }

}

@media screen and (max-width: 900px) {

    .btn:active {
        background-color: var(--c-red_main);
        box-shadow: none;
        transform: scale(.98);
    }

}

.span-block {
    display: block;
}

@media screen and (max-width: 1000px) {

    .media__span-block {
        display: block;
    }

}

.form-focus:focus {
    box-shadow: 0 0 8px var(--c-red_accent) !important;
}


/* layout */

.content-w {
    width: min(1080px, 100%);
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {

    .content-w {
        padding: 0 20px;
    }

}


/**
 * ----------------------------------------------------------------------
 * バックグラウンドの画像
 * ----------------------------------------------------------------------
 */

/* bg -- background-image */

.bg {
    background-size: cover;
    background-position: center center;
    transition: .5s ease-in-out;
}

.bg__index-01 {
    background-attachment: fixed;
    background-image: url(../images/index-bg_01.jpg);
}

.bg__index-02 {
    background-attachment: fixed;
    background-image: url(../images/index-bg_02.jpg);
}

.bg__index-03 {
    background-attachment: fixed;
    background-image: url(../images/index-bg_03.jpg);
}

.bg__index-04 {
    background-attachment: fixed;
    background-image: url(../images/index-bg_04.jpg);
}

.bg__index-05 {
    background-attachment: fixed;
    background-image: url(../images/index-bg_05.jpg);
}

.bg__index-06 {
    background-attachment: fixed;
    background-image: url(../images/index-bg_06.jpg);
}

.bg__menu {
    min-height: 0vw;
    background-image: url(../images/MenuListPage_bg.svg);
    background-size: clamp(190px, 36.458333333333333vw, 280px) clamp(147px, 33.072916666666667vw, 254px);
    background-position: clamp(-20px, 5.208333333333334vw, -40px) clamp(-30px, 7.8125vw, -60px);
    background-repeat: repeat repeat;
}

.bg__blog-top {
    background-attachment: fixed;
    background-image: url(../images/blog_top-bg.jpg);
}


/**
 * ----------------------------------------------------------------------
 * ヘッダーコンテンツここから
 */

/* header */

.header {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(#fff 0%, #fff0 100%);
    background-size: 100% 100%;
    transition: .775s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header > .content-w {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header--title {
    width: clamp(125px, 13.8888vw, 150px);
    min-height: 0vw;
}

.header--title a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: var(--transition);
}

.header--title a:hover {
    filter: brightness(1.3);
}


/* hamburger-menu */

.hamburger-menu {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(44, 44, 44, .7);
    border-radius: 10px;
    transition: var(--transition);
    position: relative;
}

.hamburger-menu:active {
    transform: scale(.95);
}

.hamburger-menu--graph {
    width: 40px;
    display: block;
    background-size: contain;
    background-position: center center;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
}

.hamburger-menu--graph:nth-child(1) {
    height: 7px;
    background-image: url(../images/menu_scissors_static.svg);
    transform-origin: 50% 50%;
    transition: var(--transition);
    top: 7.5px;
    z-index: 7;
}

.hamburger-menu--graph:nth-child(2) {
    width: 34px;
    height: 9px;
    background-image: url(../images/menu_scissors_dynamic.svg);
    transform: translateX(-40%);
    transform-origin: 50% 50%;
    transition: var(--transition);
    top: calc(3px + 7.5px);
    left: 40%;
    z-index: 6;
}

.hamburger-menu--graph:nth-child(3) {
    height: 10px;
    background-image: url(../images/menu_hairbrush.svg);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    transition: var(--transition);
    top: 25px;
    z-index: 5;
}

.hamburger-menu--text {
    margin-bottom: 7.5px;
    color: var(--c-base);
    font-family: var(--ff-title);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

@media screen and (min-width: 1081px) {

    .hamburger-menu  {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border-width: 0
    }

}

/*
    jsで使うクラス --- ハンバーガーメニューの開閉
*/

.header.ham-is-active {
    background-size: 100% 1000% !important;
}

.gnav.ham-is-active {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
}

.hamburger-menu.ham-is-active .hamburger-menu--graph:nth-child(1) {
    transform: translate(-53%, 10px) rotate(-135deg) !important;
}

.hamburger-menu.ham-is-active .hamburger-menu--graph:nth-child(2) {
    transform: translate(-24%, 8.5px) rotate(-45deg) !important;
}

.hamburger-menu.ham-is-active .hamburger-menu--graph:nth-child(3) {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%) !important;
}


/* gnav */

.gnav {
    height: 100%;
    display: grid;
    place-items: center;
}

.gnav > .gnav__container {
    height: 100%;
    min-height: 0vw;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: clamp(16px, 2.3148148148vw, 25px);
    position: relative;
}

@media screen and (max-width: 1080px) {

    .gnav {
        width: 100%;
        height: auto;
        display: block;
        background-color: var(--c-base);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .4s ease-in-out;
        position: absolute;
        top: 80px;
        left: 0;
    }

    .gnav > .gnav__container {
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }

}

.gnav__container--item {
    font-family: var(--ff-title);
}

.gnav__container--item:not(:last-child) {
    padding-left: 15px;
    position: relative;
}

.gnav__container--item:not(:last-child) a::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(5px, -50%);
    transition: var(--transition);
    position: absolute;
    top: 50%;
    left: -5px;
    overflow: hidden;
    opacity: 0;
}

.gnav__container--item:nth-child(1) a::before {
    background-color: var(--c-blue);
}

.gnav__container--item:nth-child(2) a::before {
    background-color: var(--c-green);
}

.gnav__container--item:nth-child(3) a::before {
    background-color: var(--c-yellow);
}

.gnav__container--item:nth-child(4) a::before {
    background-color: var(--c-red_main);
}

.gnav__container--item:not(:last-child):hover a::before {
    opacity: 1;
}
._current-page a::before {
    opacity: 1 !important;
}

@media screen and (max-width: 1080px) {

    .gnav__container--item {
        width: 100%;
        padding: 0;
        border-top: 1px solid var(--c-font);
    }

    .gnav__container--item:not(:last-child) {
        padding: 0;
    }

    .gnav__container--item a {
        width: 100%;
        height: var(--btn-h);
        display: flex;
        align-items: center;
        transition: var(--transition);
    }

    .gnav__container--item a:hover {
        background-color: var(--c-red_accent);
    }

    .gnav__container--item:not(:last-child) a {
        padding-left: calc(20px + 1em + 5px);
        position: relative;
    }

    .gnav__container--item:not(:last-child) a::before {
        width: 1em;
        height: 1em;
        margin-left: 20px;
        display: inline-block;
        background-color: transparent;
        border-radius: revert;
        transform: translateY(-50%);
        transition: var(--transition);
        position: absolute;
        top: 50%;
        overflow: revert;
        opacity: 1;
    }

    .gnav__container--item:nth-child(1) a::before {
        color: var(--c-blue);
        content: "\f0c4";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .gnav__container--item:nth-child(2) a::before {
        color: var(--c-green);
        content: "\f073";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .gnav__container--item:nth-child(3) a::before {
        color: var(--c-yellow);
        content: "\f781";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .gnav__container--item:nth-child(4) a::before {
        color: var(--c-red_main);
        content: "\f1d8";
        font-family: "Font Awesome 6 Free";
        font-weight: 400;
    }

}

.gnav__container--item:last-child {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.gnav__container--item:last-child a {
    display: flex;
    align-items: center;
}

.gnav__container--item:last-child a .fa-circle-user {
    display: block;
    margin-right: 4px;
    transition: var(--transition);
}

.gnav__container--item:last-child a:hover .fa-circle-user {
    color: var(--c-green);
}

@media screen and (max-width: 1080px) {

    .gnav__container--item:last-child  {
        border-bottom: 1px solid var(--c-font);
        font-size: 1em;
        position: revert;
    }

    .gnav__container--item:last-child a {
        padding-left: calc(20px + 1em + 5px);
        position: relative;
    }

    .gnav__container--item:last-child a .fa-circle-user {
        margin-right: 0;
        margin-left: 17px;
        color: var(--c-green);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
    }

}

.gnav__container--item a {
    text-decoration: none;
    color: var(--c-font);
}

/**
 * ヘッダーコンテンツここまで
 * ----------------------------------------------------------------------
 */


/**
 * ----------------------------------------------------------------------
 * メインコンテンツここから
 */

.main {
    min-height: 0vw;
    margin-top: calc(80px + clamp(35px, 9.114583333vw, 70px));
}

.main--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

.main--title span:first-child {
    min-height: 0vw;
    padding-bottom: clamp(9.5px, 1.953125vw, 15px);
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--c-base);
    font-family: var(--ff-title);
    font-size: var(--fsz-primary);
    line-height: 1;
}

.main--title span:first-child > i {
    display: block;
    margin-right: 15px;
}

.main--title span:last-child {
    margin-top: 10px;
    display: block;
    font-size: var(--fsz-secondary);
    line-height: 1;
}

.main--title_menu span:first-child {
    border-color: var(--c-blue);
}

.main--title_menu span:first-child > i {
    color: var(--c-blue);
}

.main--title_reserve span:first-child,
.main--title_account span:first-child {
    border-color: var(--c-green);
}

.main--title_reserve span:first-child > i,
.main--title_account span:first-child > i {
    color: var(--c-green);
}

.main--title.main--title_blog {
    color: var(--c-base);
}

.main--title_blog span:first-child {
    border-color: var(--c-yellow);
}

.main--title_blog span:first-child > i {
    color: var(--c-yellow);
}

.main--title_contact span:first-child {
    border-color: var(--c-red_main);
}

.main--title_contact span:first-child > i {
    color: var(--c-red_main);
}

.main__content {
    min-height: 0vw;
    margin-top: clamp(50px, 13.02083333vw, 100px);
}


/* index */

.index__container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.index__container--catchcopy {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(44, 44, 44, .2);
}

.catchcopy--text {
    width: 100%;
    height: 100%;
    min-height: 0vw;
    font-size: clamp(50px, 13.0208333333vw, 100px);
}

.catchcopy--text span {
    display: grid;
    place-items: center;
}

.catchcopy--text__Stylish {
    width: 4.53em;
    margin-bottom: 65px;
}

@media screen and (max-width: 1080px) {

    .catchcopy--text__Stylish {
        margin-bottom: 90px;
    }

}

.catchcopy--text__and {
    width: 1.93em;
    margin: 0 auto;
}

.catchcopy--text__Beauty {
    width: 4.26em;
    margin-left: auto;
    margin-top: 95px;
}

@media screen and (max-width: 1080px) {

    .catchcopy--text__Beauty {
        margin-top: 98px;
    }

}

.index__container--lead {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--c-red_main);
    color: var(--c-base);
}

.lead__title {
    min-height: 0vw;
    font-size: clamp(40px, 8.46354166666vw, 65px);
    font-weight: normal;
    text-align: center;
    line-height: 2;
}

.lead__text {
    min-height: 0vw;
    margin-top: clamp(40px, 8.46354166666vw, 65px);
    text-align: center;
    line-height: 2;
}

.lead__text strong {
    font-weight: normal;
}

.index__container--content {
    width: 45vw;
    height: 100%;
}

@media screen and (max-width: 1080px) {

    .index__container--content {
        width: 100%;
        padding: 0 clamp(20px, 5.208333333333334vw, 40px);
    }

}

.__menu-content {
    background-color: var(--c-blue);
}

.__menu-content .content__title--main {
    border-color: var(--c-blue);
}

.__menu-content .content__title--main i {
    color: var(--c-blue);
}

.__reserve-content,
.__account-content {
    background-color: var(--c-green);
}

.__reserve-content .content__title--main,
.__account-content .content__title--main  {
    border-color: var(--c-green);
}

.__reserve-content .content__title--main i,
.__account-content .content__title--main  i {
    color: var(--c-green);
}

.__blog-content {
    background-color: var(--c-yellow);
}

.__blog-content .content__title--main {
    border-color: var(--c-yellow);
}

.__blog-content .content__title--main i {
    color: var(--c-yellow);
}

.__contact-content {
    background-color: var(--c-red_main);
}

.__contact-content .content__title--main {
    border-color: var(--c-red_main);
}

.__contact-content .content__title--main i {
    color: var(--c-red_main);
}

.__menu-content .content__title,
.__blog-content .content__title,
.__account-content .content__title {
    align-items: flex-end;
}

.__menu-content .btn__outer,
.__blog-content .btn__outer,
.__account-content .btn__outer {
    justify-content: flex-end;
}

.content__area {
    width: calc(1080px * 0.4370370370);
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--c-base);
}

@media screen and (max-width: 1080px) {

    .content__area {
        width: 100%;
        padding: 0 clamp(10px, 2.604166666666667vw, 20px);
    }

}

@keyframes content__area--anim_left {
    0% {
        transform: translateX(-45vw);
    }
    10% {
        transform: translateX(-15vw);
    }
    15% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-8vw);
    }
    45% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-3vw);
    }
    75% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(-0.5vw);
    }
    105% {
        transform: translateX(0);
    }
}

@keyframes content__area--anim_right {
    0% {
        transform: translateX(45vw);
    }
    10% {
        transform: translateX(15vw);
    }
    15% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(8vw);
    }
    45% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(3vw);
    }
    75% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0.5vw);
    }
    105% {
        transform: translateX(0);
    }
}

@keyframes content__area--anim_sp {
    0% {
        transform: translateY(100vh);
    }
    10% {
        transform: translateY(15vh);
    }
    15% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(8vh);
    }
    45% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(3vh);
    }
    75% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0.5vh);
    }
    105% {
        transform: translateY(0);
    }
}

.__menu-content .content__area,
.__blog-content .content__area,
.__account-content .content__area {
    transform: translateX(-45vw);
}

.__menu-content .content__area.content__area--is-active,
.__blog-content .content__area.content__area--is-active,
.__account-content .content__area.content__area--is-active {
    animation: content__area--anim_left 2s linear;
    transform: translateY(0);
}

.__reserve-content .content__area,
.__contact-content .content__area {
    transform: translateX(45vw);
}

.__reserve-content .content__area.content__area--is-active,
.__contact-content .content__area.content__area--is-active {
    animation: content__area--anim_right 2s linear;
    transform: translateY(0);
}

@media screen and (max-width: 1080px) {

    .index__container--content .content__area {
        transform: translateY(100vh);
    }

    .index__container--content .content__area.content__area--is-active {
        animation: content__area--anim_sp 2s linear;
        transform: translateY(0);
    }

}

.index__container.fxd-rr .content__area {
    margin-left: revert;
    margin-right: auto;
}

.content__inner {
    width: 324px;
}

@media screen and (max-width: 820px) {

    .content__inner {
        width: 100%;
    }

}

.content__title {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    line-height: 1;
}

.content__title > span:first-child {
    display: flex;
    align-items: center;
}

.content__title--main {
    min-height: 0vw;
    padding-bottom: clamp(5px, 1.302083333333333vw, 10px);
    display: flex;
    align-items: center;
    gap: clamp(10px, 1.953125vw, 15px);
    border-bottom: 2px solid;
    font-family: var(--ff-title);
    font-size: var(--fsz-primary);
}

.content__title--sub {
    margin-top: 10px;
    font-size: var(--fsz-secondary);
}

.content__text {
    margin: 40px 0 60px;
    line-height: 2;
}

@media screen and (max-width: 1080px) {

    .content__inner .content__title {
        align-items: center;
    }

    .content__inner .btn__outer {
        justify-content: center;
    }

    .content__inner .content__text {
        margin: 40px 0;
        text-align: center;
    }

}


/* menu */

.menu__link-list {
    width: min(calc((((18px * 1.3) * 12)) * 2 + 30px), 100%);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: clamp(30px, 4.557291666666666vw, 35px) 30px;
    font-size: var(--fsz-secondary);
}

.menu__link-list--item {
    font-size: 1em;
}

@media screen and (min-width: 571px) {

    .menu__link-list--item:first-child {
        grid-column: span 2;
    }

}

.menu__wrap {
    margin-top: clamp(120px, 26.041666666666667vw, 200px);
    padding: clamp(20px, 9.114583333333333vw, 70px) clamp(10px, 9.114583333333333vw, 70px);
    background-color: var(--c-base);
    box-shadow: 0 0 10px rgba( 0,  0,  0, .5);
}

@media screen and (max-width: 570px) {

    .menu__wrap {
        padding: 20px 10px;
    }

}

.menu__container {
    padding-bottom: clamp(50px, 13.020833333333333vw, 100px);
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 40px;
    border-bottom: 1px solid var(--c-font);
}

@media screen and (max-width: 1080px) {

    .menu__container {
        grid-template-columns: repeat(1, 1fr);
    }

}

.menu__container:not(:first-child) {
    padding-top: clamp(50px, 13.020833333333333vw, 100px);
}

.menu__container--title {
    grid-column: span 2;
    border-left: 5px solid var(--c-blue);
    font-size: var(--fsz-primary);
    text-indent: 10px;
}

@media screen and (max-width: 1080px) {

    .menu__container--title {
        grid-column: revert;
    }

    .menu__container--title + .menu__container--item {
        padding-bottom: 40px;
        border-bottom: 1px solid var(--c-font);
    }

}

.menu__container--item > h4 {
    min-height: 0vw;
    margin-bottom: clamp(15px, 3.90625vw, 30px);
    padding-bottom: 5px;
    font-family: var(--ff-title);
    font-size: var(--fsz-primary);
    border-bottom: 1px solid var(--c-font);
}

.menu__container--item_price:not(.menu__container--item > h4 + .menu__container--item_price) {
    margin-top: 45px;
}

@media screen and (max-width: 1080px) {

    .menu__container--item_price > h5 {
        margin-top: 2em;
    }

}

.menu__container--item_price > h5 {
    margin-bottom: 1em;
    font-size: var(--fsz-secondary);
}

@media screen and (max-width: 1080px) {

    .menu__container--item_price > h5 {
        margin-bottom: 1em;
    }

}

.menu__container--item_price dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__container--item_price > ul li:not(:first-child) dl {
    margin-top: 1em;
}

button[type = button]#js-toTop {
    width: 120px;
    height: 120px;
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.02) 0%, #fff 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: var(--transition);
}

button[type = button]#js-toTop::before,
button[type = button]#js-toTop::after {
    content: "";
    background-color: var(--c-font);
    position: absolute;
    transition: var(--transition);
}

button[type = button]#js-toTop::before {
    width: 3px;
    height: 100px;
    display: block;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
}

button[type = button]#js-toTop::after {
    width: 3px;
    height: 50px;
    display: block;
    top: 5%;
    left: 30%;
    transform: translate(-30%, -5%) rotate(45deg);
}

@media screen and (min-width: 821px) {

    button[type = button]#js-toTop:hover {
        color: var(--c-base);
        background: var(--c-red_accent);
        box-shadow: none;
    }

    button[type = button]#js-toTop:hover::before,
    button[type = button]#js-toTop:hover::after {
        background-color: var(--c-base);
    }

}

.toTop__inner {
    width: 100%;
    padding-left: 55%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.toTop__inner--text {
    font-size: 1em;
    font-family: var(--ff-title);
    line-height: 1;
}

.toTop__inner--icon {
    margin-top: 7px;
    font-size: var(--fsz-primary);
    line-height: 1;
}

@media screen and (max-width: 820px) {

    button[type = button]#js-toTop {
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }

    button[type = button]#js-toTop::before {
        width: 3px;
        height: 50px;
        display: block;
        top: 50%;
        left: 35%;
        transform: translate(-35%, -50%);
    }

    button[type = button]#js-toTop::after {
        width: 3px;
        height: 25px;
        display: block;
        top: 16.09%;
        left: 21.5%;
        transform: translate(-21.5%, -16.09%) rotate(45deg);
    }

    button[type = button]#js-toTop:active {
        color: var(--c-base);
        background: var(--c-red_accent);
        box-shadow: none;
        transform: scale(.95);
    }

    button[type = button]#js-toTop:active::before,
    button[type = button]#js-toTop:active::after {
        background-color: var(--c-base);
    }

    .toTop__inner {
        padding-left: 45%;
    }

    .toTop__inner--icon {
        margin-top: 1px;
    }

}


/* reserve */

.reserve {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.__reserve-day {
    min-height: 0vw;
    flex-direction: column-reverse;
    gap: clamp(50px, 13.020833333333333vw, 100vw);
}

.reserve__calender--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px 100px;
}

.calender--container__item--title {
    min-height: 0vw;
    margin-bottom: clamp(5px, 1.953125vw, 15px);
    font-size: var(--fsz-primary);
    line-height: 1;
}

.calender--container__item--table {
    width: 100%;
    position: relative;
}

.calender--container__item--table::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.calender--container__item--table table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 7px #00000025;
    font-size: clamp(20px, 3.515625vw, 27px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.calender--container__item--table table thead,
.calender--container__item--table table tbody,
.calender--container__item--table table tr {
    width: 100%;
}

.calender--container__item--table table thead {
    height: calc(100% / 7);
}

.calender--container__item--table table tbody {
    height: calc(100% - (100% / 7));
}

.calender--container__item--table table tr {
    height: calc(100% / 7);
}

.calender--container__item--table table th,
.calender--container__item--table table td {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1.5px solid var(--c-font);
}

.calender--container__item--table table thead th:first-child {
    color: var(--c-red_accent);
}

.calender--container__item--table table thead th:last-child {
    color: var(--c-blue);
}

.calender--container__item--table table tbody td a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--c-font);
    text-decoration: none;
    transition: var(--transition);
}

.calender__currentDay {
    background-color: var(--c-green);
}

.calender--container__item--table table tbody td a:hover {
    background-color: var(--c-green);
}

.reserve__today--title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-indent: clamp(5px, 1.302083333333333vw, 10px);
}

.reserve__today--title > span {
    border-left: 3px solid var(--c-green);
}

.reserve__today--title > span span:first-child {
    font-family: var(--ff-title);
    font-size: var(--fsz-primary);
}

.reserve__today--title > span span:last-child {
    font-size: var(--fsz-secondary);
}

.reserve__today--container {
    width: min(835px, 100%);
    min-height: 0vw;
    margin: clamp(30px, 7.8125vw, 60px) auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(4, var(--btn-h));
    gap: clamp(40px, 6.51041666666vw, 50px) 100px;
}

.reserve__today--container_item {
    width: 100%;
}

.reserve__today--container_item dl {
    display: flex;
    align-items: center;
}

.reserve__today--container_item > dl {
    width: 100%;
    justify-content: space-between;
}

.reserve__today--container_item dl dd > dl {
    min-height: 0vw;
    gap: clamp(8px, 1.953125vw, 15px);
}


/* blog */
/*
    blog's top page
*/

.main__content--blog {
    padding: 100px 0;
    background-color: var(--c-base);
    position: relative;
}

.main__content--blog__title {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1em;
    top: calc(0px - (var(--fsz-primary) / 1.3));
}

.main__content--blog__title span:first-child {
    font-size: var(--fsz-primary);
    font-weight: bold;
}

.main__content--blog__title span:last-child {
    font-size: var(--fsz-secondary);
}

.main__content--blog__latest {
    min-height: 0vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 72px;
}

@media screen and (max-width: 1080px){

    .main__content--blog__latest {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

}

.main__content--blog__latest--img {
    width: 100%;
}

.main__content--blog__latest--img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
}

@supports not (aspect-ratio: 3 / 2) {

    .main__content--blog__latest--img {
        position: relative;
    }

    .main__content--blog__latest--img::before {
        content: "";
        display: block;
        padding-top: calc(2 / 3 * 100%);
    }

    .main__content--blog__latest--img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.main__content--blog__latest--content-title {
    font-size: var(--fsz-secondary);
    font-weight: normal;
    line-height: 2;
}

.main__content--blog__latest--content-info {
    min-height: 0vw;
    margin-top: clamp(25px, 4.5572916666vw, 35px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1080px){

    .main__content--blog__latest--content-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

}

.main__content--blog__latest--content-info .main__content--blog__category--tag li {
    width: auto;
    height: 1.5em;
    display: revert;
    padding: 0;
    background-color: transparent;
    border-radius: revert;
}

.main__content--blog__latest--content-info .main__content--blog__category--tag li a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 1em;
    color: var(--c-base);
    background-color: var(--c-blue);
    border-radius: 1.5em;
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
}

.main__content--blog__latest--content-info .main__content--blog__category--tag li a:hover {
    background-color: var(--c-yellow);
}

.main__content--blog__latest--content-btn {
    margin-top: clamp(20px, 7.8125vw, 60px);
    justify-content: flex-end;
}

@media screen and (max-width: 1080px){

    .main__content--blog__latest--content-btn .btn {
        width: 100%;
    }

}

.main__content--blog__container {
    min-height: 0vw;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: clamp(30px, 7.8125vw, 60px) 40px;
}

@media screen and (max-width: 900px){

    .main__content--blog__container {
        grid-template-columns: 1fr;
    }

}

.main__content--blog__container a {
    height: auto;
    display: block;
    color: var(--c-font);
    text-decoration: none;
    transition: var(--transition);
    position: relative;
}

.main__content--blog__container a:hover {
    box-shadow: 0 0 6px var(--c-font);
}

.main__content--blog__container a:hover img {
    filter: brightness(1.1);
}

.main__content--blog__container a::before {
    content: "";
    display: block;
    padding-top: calc(12 / 13 * 100%);
}

.main__content--blog__card {
    width: 100%;
    height: 100%;
    border: 1px solid var(--c-font);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main__content--blog__card--img {
    width: 100%;
}

.main__content--blog__card--img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    transition: var(--transition);
}

@supports not (aspect-ratio: 2 / 1) {

    .main__content--blog__card--img {
        width: 100%;
        position: relative;
    }

    .main__content--blog__card--img::before {
        content: "";
        display: block;
        padding-top: calc(1 / 2 * 100%);
    }

    .main__content--blog__card--img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.main__content--blog__card figcaption {
    height: calc(1 / 2 * (100% - 8%));
}

.main__content--blog__card--content {
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

@media screen and (max-width: 1080px){

    .main__content--blog__card--content {
        padding: 10px;
    }

}

.main__content--blog__card--content-title {
    font-size: var(--fsz-secondary);
}

.main__content--blog__published {
    margin-top: auto;
}

.main__content--blog__published,
.main__content--blog__category {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.main__content--blog__category {
    min-height: 0vw;
    color: var(--c-blue);
}

.main__content--blog__category--tag {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main__content--blog__category--tag li {
    width: auto;
    height: 1.5em;
    display: grid;
    place-items: center;
    padding: 0 1em;
    color: var(--c-base);
    background-color: var(--c-blue);
    border-radius: 1.5em;
}

.main__content--blog__card--content .main__content--blog__category {
    justify-content: flex-end;
}


/* blog__contents */

.blog__contents{
    width: 100%;
    height: 100vh;
    background-color: var(--c-base);
}

.blog__published,
.blog__category {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.blog__category {
    min-height: 0vw;
    margin-top: clamp(5px, 1.302083333vw, 10px);
    color: var(--c-blue);
}

.blog__category--tag {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog__category--tag li {
    width: auto;
    height: 1.5em;
}

.blog__category--tag li a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0 1em;
    color: var(--c-base);
    background-color: var(--c-blue);
    border-radius: 1.5em;
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
}

.blog__category--tag li a:hover {
    background-color: var(--c-yellow);
}

.blog__image {
    min-height: 0vw;
    margin-top: clamp(20px, 3.2552083333vw, 25px);
    aspect-ratio: 16 / 9;
}

.blog__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@supports not (aspect-ratio: 16 / 9) {

    .blog__image {
        position: relative;
    }

    .blog__image::before {
        content: "";
        display: block;
        padding-top: calc(9 / 16 * 100%);
    }

    .blog__image img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

.blog__container {
    min-height: 0vw;
    margin-top: clamp(15px, 5.2083333vw, 40px);
}

.blog__container--title {
    min-height: 0vw;
    padding-bottom: clamp(5px, 1.302083333vw, 10px);
    border-bottom: 2px solid var(--c-red_main);
    font-size: var(--fsz-secondary);
    line-height: 1.5;
}

.blog__container--text {
    line-height: 2;
}

.blog__container--text.br-mt {
    margin-top: 2em;
}

.blog__container--text:nth-child(2) {
    min-height: 0vw;
    margin-top: clamp(10px, 2.60416666vw, 20px);
}

.blog__container--text mark {
    background-color: transparent;
    background: linear-gradient(rgba(251, 209, 72, 0) 0%, rgba(251, 209, 72, 0.2) 43.35%, var(--c-yellow) 100%);
}

.blog__pager {
    min-height: 0vw;
    margin-top: clamp(50px, 13.02083333vw, 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(15px, 3.90625vw, 30px);
}

.blog__pager--previousBtn,
.blog__pager--nextBtn {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 1px;
    transition: var(--transition);
}

.blog__pager--previousBtn {
    border-right: 30px solid var(--c-red_accent);
}

.blog__pager--nextBtn {
    border-left: 30px solid var(--c-red_accent);
}

.blog__pager--previousBtn:hover,
.blog__pager--nextBtn:hover {
    transform: scale(0.95);
}

.__blog-arrowBtn_none {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.blog__pager--link {
    min-height: 0vw;
    display: flex;
    gap: clamp(7px, 2.60416666vw, 20px);
}

.blog__pager--link_item a {
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    color: var(--c-font);
    text-decoration: none;
    background-color: var(--c-green);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    font-size: 37.5px;
    line-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.blog__pager--link_item a:hover {
    color: var(--c-yellow);
    box-shadow: none;
}

.__blog-current {
    color: var(--c-yellow) !important;
    box-shadow: none !important;
}


/* contact */

.contact{
    min-height: 0vw;
    margin-top: clamp(50px, 13.0208333333vw, 100px);
}

.contact--text{
    min-height: 0vw;
    padding: clamp(20px, 5.208333333vw, 40px) clamp(0px, 5.208333333vw, 40px);
    line-height: 2;
    border-top: 2px solid var(--c-yellow);
    border-bottom: 2px solid var(--c-yellow);
}

.contact__container {
    min-height: 0vw;
    margin-top: clamp(60px, 8.463541666666vw, 65px);
}

.contact__container--contact-table {
    min-height: 0vw;
    border: 1px solid var(--c-font);
    border-radius: 20px;
    font-size: clamp(18px, 2.6041666666vw, 20px);
    overflow: hidden;
}

.contact-table__row {
    height: 60px;
}

@media screen and (max-width: 1080px) {

    .contact-table__row {
        height: auto;
    }

}

.contact-table__row:not(:first-child) {
    border-top: 1px solid var(--c-font);
}

.contact-table__row--col {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 1em;
}

@media screen and (max-width: 1080px) {

    .contact-table__row--col {
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
        font-size: 1em;
    }

}

.contact-table__row:last-child {
    height: 300px;
}

@media screen and (max-width: 1080px) {

    .contact-table__row:last-child {
        height: auto;
    }

}

.contact-table__row--col dt {
    width: 350px;
    height: 100%;
    min-height: 0vw;
    display: flex;
    align-items: center;
    background-color: var(--c-blue);
    text-indent: clamp(10px, 3.90625vw, 30px);
}

@media screen and (max-width: 1080px) {

    .contact-table__row--col dt {
        width: 100%;
        height: 60px;
    }

}

.contact-table__row--col dt label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-required label::after {
    content: "※必須";
    min-height: 0vw;
    color: var(--c-red_accent);
    text-indent: clamp(5px, 1.953125vw, 15px);
}

.contact-table__row--col dd {
    height: 100%;
    min-height: 0vw;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: var(--fsz-common);
}

@media screen and (max-width: 1080px) {

    .contact-table__row--col dd {
        width: 100%;
        height: 60px;
        justify-content: center;
    }

    .contact-table__row:last-child .contact-table__row--col dd {
        height: clamp(250px, 45.57291666666vw, 300px);
        padding: 0 10px;
    }

}

.contact-table__row:nth-child(3) .contact-table__row--col dd {
    gap: clamp(26px, 3.6458333333vw, 28px);
}

.contact-table__row--col dd > label[for = form-subject] {
    width: 15em;
    height: var(--btn-h);
    border: 1px solid var(--c-font);
    border-radius: calc(var(--btn-h) / 2);
    position: relative;
}

.contact-table__row--col dd > label[for = form-subject]::after {
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 9px;
}

.contact-table__row--col dd label[for = form-subject] select {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    display: grid;
    place-items: center;
    border-radius: calc(var(--btn-h) / 2);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: var(--transition);
}

.contact-table__row--col dd input {
    height: var(--btn-h);
    padding: 0 1em;
    border: 1px solid var(--c-font);
    border-radius: calc(var(--btn-h) / 2);
    text-align: center;
    vertical-align: middle;
    transition: var(--transition);
}

.contact-table__row:nth-child(2) .contact-table__row--col dd input[type = text] {
    width: clamp(140px, 19.53125vw, 150px);
}

.contact-table__row:nth-child(3) .contact-table__row--col dd input[type = tel] {
    width: clamp(90px, 19.53125vw, 150px);
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spin {
    -moz-appearance: textfield;
}

#form-tel + div {
    position: relative;
}

#form-tel + div::before,
#form-tel + div::after {
    content: "";
    width: 1em;
    height: 1px;
    display: block;
    background-color: var(--c-font);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#form-tel + div::before {
    left: calc(-1em - 5px);
}

#form-tel + div::after {
    right: calc(-1em - 5px);
}


.contact-table__row--col dd input[type = email] {
    width: 506px;
    text-align: left;
    transition: var(--transition);
}

@media screen and (max-width: 1080px) {

    .contact-table__row:nth-child(4) .contact-table__row--col dd {
        padding: 0 10px;
    }

    .contact-table__row--col dd input[type = email] {
        width: 100%;
    }

}

.contact-table__row--col dd textarea {
    width: 33.8em;
    height: clamp(234px, 36.9791666666vw, 284px);
    min-height: 0vw;
    padding: 1em;
    border: 1px solid var(--c-font);
    border-radius: 20px;
    resize: none;
    transition: var(--transition);
}

.contact-table__row--col dd textarea::-webkit-scrollbar {
    width: 5px;
    background-color: #fff0;
}

.contact-table__row--col dd textarea::-webkit-scrollbar-track {
    width: 5px;
    background-color: #fff0;
}

.contact-table__row--col dd textarea::-webkit-scrollbar-thumb {
    width: 5px;
    display: grid;
    place-items: center;
    background-color: rgba(20, 20, 20, .6);
    border-radius: calc(5px / 2);
}


@media screen and (max-width: 1080px) {

    .contact-table__row--col dd textarea {
        width: 100%;
    }

}

.contact__container--contact-table + .btn__outer {
    margin-top: 30px;
    justify-content: center;
}

.contact__container--contact-table + .btn__outer input[type = submit]:focus + .btn  {
    background-color: var(--c-red_main);
    box-shadow: none;
}


/* account */

.account--text p:not(.btn__outer) {
    line-height: 2;
    text-align: center;
}

.account--text .btn__outer {
    min-height: 0vw;
    margin-top: clamp(15px, 3.255208333333334vw, 25px);
}

.account__container {
    min-height: 0vw;
    margin-top: clamp(50px, 13.020833333333333vw, 100px);
    padding: clamp(20px, 5.208333333333334vw, 40px) 0;
    border-top: 2px solid var(--c-green);
    border-bottom: 2px solid var(--c-green);
}

.account__container--item {
    text-align: center;
}

.account__container--item:not(:first-child) {
    min-height: 0vw;
    margin-top: clamp(35px, 7.8125vw, 60px);
}

.account__container--item dt {
    min-height: 0vw;
    margin-bottom: clamp(15px, 3.255208333333334vw, 25px);
}

.account__container--item dt label {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.account__container--item dt label[for = form-password] {
    display: block;
    line-height: 2;
}

.account__container--item dd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.account__container--item:nth-child(2) dd {
    min-height: 0vw;
    gap: clamp(23px, 3.645833333333334vw, 28px);
}

.account__container--item dd input {
    width: clamp(100px, 19.53125vw, 150px);
    height: var(--btn-h);
    padding: 0 1em;
    border: 1px solid var(--c-font);
    border-radius: calc(var(--btn-h) / 2);
    text-align: center;
    transition: var(--transition);
}

.account__container--item:not(:first-child).account__container--item:not(:nth-child(2)) dd input {
    min-height: 0vw;
    width: min(506px, 100%);
}

.account__container .btn__outer {
    min-height: 0vw;
    margin-top: clamp(40px, 5.208333333333334vw, 60px);
    justify-content: center;
}

.account__container .btn span:first-child {
    display: flex;
    align-items: center;
    gap: 1px;
}

.account__container .btn span:first-child i:first-child {
    font-size: .5em;
}

.account__container input[type = submit]:focus + .btn {
    background-color: var(--c-red_main);
    box-shadow: none;
}

/*
    login
*/

.account-login__container--item {
    min-height: 0vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: clamp(15px, 2.604166666666667vw, 20px);
}

.account-login__container--item:not(:last-child) {
    min-height: 0vw;
    margin-top: clamp(35px, 7.8125vw, 60px);
}

.account-login__container--item dt label {
    cursor: pointer;
}

.account-login__container--item dt,
.account-login__container--item dd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-login__container--item dd {
    width: min(506px, 100%);
}

.account-login__container--item dd input {
    width: 100%;
    height: var(--btn-h);
    padding: 0 1em;
    text-align: center;
    border: 1px solid var(--c-font);
    border-radius: calc(var(--btn-h) / 2);
    transition: var(--transition);
}


.account-login__container .btn__outer {
    min-height: 0vw;
    margin-top: clamp(40px, 7.8125vw, 60px);
    justify-content: center;
}

.account-login__container input[type = submit]:focus + .btn {
    background-color: var(--c-red_main);
    box-shadow: none;
}


/*
    confirm
*/

.confirm{
padding: 40px;
line-height: 2;
border-top: 2px solid var(--c-green);
border-bottom: 2px solid var(--c-green);
margin-top: 100px;
}

.confirm p{
    text-align: center;
}

/*
    complete
*/
.complete--text{
    padding: 40px;
    line-height: 2;
    border-top: 2px solid var(--c-green);
    border-bottom: 2px solid var(--c-green);
    margin-top: 100px;
}



/**
 * ----------------------------------------------------------------------
 * フッターコンテンツここから
 */

/* footer */

.footer {
    min-height: 0vw;
    margin-top: clamp(75px, 19.53125vw, 150px);
    padding: clamp(30px, 7.8125vw, 60px) 0;
    background-color: var(--c-red_main);
    color: var(--c-base);
}

.footer__flex-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {

    .footer__flex-container {
        flex-direction: column;
    }

}

.footer__flex-container > .footer__container {
    width: 45%;
}

@media screen and (max-width: 1080px) {

    .footer__flex-container > .footer__container {
        width: 100%;
        margin-bottom: 30px;
    }

}

.footer__container--title {
    min-height: 0vw;
    margin-bottom: clamp(10px, 2.6041666666vw, 20px);
    padding-bottom: clamp(5px, 1.302083333vw, 10px);
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid var(--c-base);
    font-family: var(--ff-title);
    font-size: var(--fsz-primary);
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.footer__container--title a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--c-base);
    text-decoration: none;
    transition: var(--transition);
}

.footer__menu-content:hover {
    color: var(--c-blue);
}

.footer__reserve-content:hover {
    color: var(--c-green);
}

.footer__blog-content:hover {
    color: var(--c-yellow);
}

.footer__account-content:hover {
    color: var(--c-green);
}


.footer__container--map iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
}

.footer__container--map-caption {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap:1em;
    line-height: 1;
}

.footer__container--map-caption address {
    font-style: normal;
}

@supports not (aspect-ratio: 3 / 2) {

    .footer__container--map {
        width: 100%;
        margin-bottom: calc(3em * 2);
        position: relative;
    }

    .footer__container--map::before {
        content: "";
        display: block;
        padding-top: calc(2 / 3 * 100%);
    }

    .footer__container--map iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .footer__container--map-caption {
        margin-top: 10px;
        position: absolute;
    }

}

.footer__grid-box {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: clamp(30px, 5.859375vw, 45px) 20px;
}

@media screen and (max-width: 1080px) {

    .footer__grid-box {
        width: 100%;
    }

}

.footer__container--list {
    padding-left: 1em;
    line-height: calc(1em + 15px);
    list-style: revert;
}

.footer__container--list li {
    width: 100%;
}

.footer__container--list li a {
    width: 100%;
    display: block;
    color: var(--c-base);
    text-decoration: none;
}

@media screen and (max-width: 1080px) {

    .footer__container--list li a {
        width: auto;
        display: inline;
    }

}

.footer__container--list li a:hover {
    text-decoration: underline;
}

.footer__grid-box .footer__container:nth-child(3) li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 1080px) {

    .footer__grid-box .footer__container:nth-child(3) li a {
        width: 100%;
        display: block;
    }

}

.footer__flex-container:last-child {
    min-height: 0vw;
    margin-top: clamp(40px, 9.375vw, 72px);
    align-items: center;
}

@media screen and (max-width: 1080px) {

    .footer__flex-container:last-child {
        flex-direction: column-reverse;
        gap: 40px;
    }

}

.footer--title {
    width: clamp(125px, 16.666666vw, 180px);
    min-height: 0vw;
}

@media screen and (max-width: 1080px) {

    .footer--title {
        margin: 0 auto;
    }

}

.footer--title a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: var(--transition);
}

.footer--title a:hover {
    opacity: .75;
}

.copyright {
    margin-top: 15px;
    font-size: 12px;
    line-height: 1;
}

.copyright small {
    font-size: 100%;
}

.footer--btn a {
    padding: 0 3.5835em;
    transition: var(--transition);
}

.footer--btn {
    width: 50%;
    justify-content: flex-end;
}

.footer--btn a:hover {
    background-color: var(--c-base);
    color: var(--c-red_accent);
}

@media screen and (max-width: 1080px) {

    .footer--btn {
        width: 100%;
        justify-content: center;
    }

    .footer--btn a {
        padding: 0 1em;
    }

    .footer--btn a:active {
        transform: scale(.95);
    }

}

/**
 * フッターコンテンツここまで
 * ----------------------------------------------------------------------
 */



 /**
 * ----------------------------------------------------------------------
 * 404エラーコンテンツここから
 */

/* error */

.error{
    margin: calc(80px + 2em) auto 0;
    padding: 45px;
    border: solid 5px var(--c-red_main);
}
.error h1{
    text-align: center;
    color: var(--c-font);
}
.error p{
    text-align: center;
    line-height: 3;
    color: var(--c-font);
}
.error-accent{
    color: var(--c-red_accent);
}
.error--alert-icon {
    color: var(--c-yellow);
}
.error .btn__outer{
    margin-top: 3em;
    justify-content: center;
}

